.background-filter {
    background: url('../images/background/minami-background.png'), rgba(0, 0, 0, 0.4) 50%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
}