.main-header {
    background: #9F9F9F;
    display: flex;
    justify-content: space-between;
    height: 5.5rem;
    align-items: center;
}

.main-header #icons {
    cursor: pointer;
    display: none;
    transition: transform 0.3s;
}

.just-hover {
    display: none;
    transition: ease-in 0.5s;
    z-index: 3 !important;
}

.just-hover:hover {
    transform: scale(1.2) !important;
    transition: ease-out 0.5s;
}

nav.isactive #icons:before {
    content: "\2715";
    transform: rotate(0deg);
}

nav.isactive #icons:hover:before {
    transform: rotate(360deg);
}

.main-header ul {
    list-style: none;
    margin: 0;
    display: flex;
    width: 45%;
    gap: 30px;
    z-index: 2;
}

.main-header .connect-link {
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    background: transparent;
    margin-right: 2.5rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s, ease-out 0.3s;
    border-radius: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    z-index: 1;
}

.main-header .connect-link:hover {
    transition: ease 1s;
    background-color: #444;
    border: 2px solid #fff;
    border-radius: 1.5rem;
    transform: scale(1.02);
}

.main-header ul li {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: ease 0.3s;
}

.main-header ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color 0.5s;
}

.main-header ul li:hover {
    transform: scale(1.05);
}

.main-header ul li a::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.main-header ul li a:hover::before {
    transform: scaleX(1);
}

.main-header ul li a:hover {
    color: #414141;
    transition: color 1s;
}

@media screen and (min-width: 3000px) {
    .main-header ul li {
        font-size: 4.5rem;
    }

    .main-header .connect-link {
        font-size: 4.5rem;
    }

    .main-header .connect-link:hover {
        border: 4px solid #fff;
    }

    .main-header {
        height: 10.5rem;
    }
}

@media screen and (max-width: 1245px) {
    .just-hover {
        display: block !important;
    }

    #icons {
        display: block !important;
        color: white;
        font-size: 64px;
        text-align: center;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #icons:before {
        content: "\2630";
    }

    .main-header ul {
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        transform: translateX(-100%);
        top: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transform: 0.25s;
        padding-top: 5.5rem;
        padding-left: 0;
        padding-bottom: 2.5rem;
        transition: transform 0.5;
    }

    nav.isactive ul {
        transform: translateX(0);
        transition: transform 0.5s;
    }

    nav:not(.isactive) ul {
        transform: translateX(-100%);
        transition: transform 0.5s;
    }
}

@media screen and (max-width: 830px) {
    .connect-link {
        margin-right: 1rem !important;
    }
}

@media screen and (max-width: 598px) {
    button.connect-link {
        margin-right: 0.5rem !important;
        font-size: 16px !important;
        padding-top: 8px;
        padding-bottom: 8px;
        font-weight: 550 !important;
    }

    nav.isactive ul {
        transform: translateX(0);
        transition: transform 0.5s;
        padding-top: 35px;
    }
}

.rotate-animation-open {
    animation: rotateMenuIcon 0.5s linear forwards;
}

.rotate-animation-close {
    animation: rotateCloseIcon 0.5s linear forwards;
}

@keyframes rotateMenuIcon {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        transition: opacity 0.5s;
    }

    50% {
        opacity: 0.5;
        transform: rotate(180deg);
        transition: opacity 0.5s;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        transition: opacity 0.5s;
    }
}

@keyframes rotateCloseIcon {
    0% {
        opacity: 0;
        transform: rotate(0deg);
        transition: opacity 0.5s;
    }

    50% {
        opacity: 0.5;
        transform: rotate(180deg);
        transition: opacity 0.5s;
    }

    100% {
        transform: rotate(360deg);
        opacity: 1;
        transition: opacity 0.5s;
        transform: translateX();
    }
}