html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.6em;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    width: 10%;
    transform: scale(1.2);
}

.back-link {
    color: #8551db;
    text-decoration: none;
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.back-link:hover {
    color: #4c2e7e;
}

.back-link svg {
    fill: #8551db;
    margin-right: 5px;
}

.form:hover {
    transform: scale(1.25);
    border: 1px solid black;
}

#heading {
    text-align: center;
    margin: 2em;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: #171717;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}

.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button1:hover {
    background-color: black;
    color: white;
}

.button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
}

.button2:hover {
    background-color: black;
    color: white;
}

.sinscrire, .sinscrire a {
    color: #d3d3d3;
    text-decoration: none;
    text-align: center;
}

.sinscrire a:hover {
    color: #afafaf;
    text-decoration: underline;
    transform: scale(1.02);
}


