.main-main {
    position: relative;
    min-height: 501px;
    height: calc(100% - 5.5rem);
    display: flex;
    justify-content: center;
}

.image-minami {
    position: absolute;
    min-width: 501px;
    /* min-height: 991px; */
    width: 50%;
    height: 100%;
    top: -35px;
    background: url('../images/background/minami.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.20);
    cursor: pointer;
    transition: ease-in-out 0.5s, opacity 2s ease-in-out;
    opacity: 0;
}

.image-minami.visible {
    opacity: 1;
}

.image-minami:hover {
    transform: scale(1.25);
}