html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: #171717;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
    position: relative;
}

.back-link {
    color: #8551db;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.back-link:hover {
    color: #4c2e7e;
}

.back-link svg {
    fill: #8551db;
    margin-right: 5px;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom : 60px !important;
    text-align: center !important;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #252525;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #171717;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 100px;
}

.cut-short {
    width: 165px;
}

.iLabel {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms, top 200ms;
    top: 20px;
}

.input:focus~.cut {
    transform: translateY(8px);
}

.input:focus~.iLabel {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:focus)~.iLabel {
    color: #808097;
}

.input:focus~.iLabel {
    color: #dc2f55;
}

.input-container.input-filled .iLabel {
    transform: translateY(-30px) translateX(10px) scale(0.75);
    top: 9px;
    color: #dc2f55;
}

.submit {
    background-color: #252525;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    text-align: center;
    width: 100%;
}

.submit:hover {
    background-color: #333333;
}

.submit:active {
    background-color: black;
}