.swing-effect {
  width: 300px;
  height: auto;
  color: #fff;
  text-align: center;
  line-height: 100px;
  margin: 50px auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  animation: swingAnimation 2s infinite ease-in-out;
}

@keyframes swingAnimation {

  0%,
  100% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(10deg);
  }
}