.background-filter {
    overflow: none;
}

.loading-animation {
    width: 100%;
    height: calc(100% - 5.5rem);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-100%);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: white;
}

.title-quizz {
    margin-bottom: 0;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.swing-effect {
    z-index: 3 !important;
    transform: scale(1.05);
}

.active {
    transform: translateX(0);
    transition: transform 1.5s ease-in-out;
}

.active-end {
    transform: translateX(100%);
    transition: transform 1.5s ease-in-out;
}

.loading-bar-container {
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 4px;
    overflow: hidden;
    border: 2px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.loading-bar {
    width: 0;
    height: 20px;
    background-color: #534a59;
    transition: width 0.3s ease-in-out;
}

@media screen and (max-height:740px) {
    .swing-effect {
        display: none;
    }
}