.main-content {
    color: black;
    height: calc(100% - 5.5rem);
    opacity: 0;
    visibility: hidden;
    transition: opacity 2s, visibility 2s;
    display: flex;
    justify-content: center;
}

.quizz-content {
    min-width: 367px;
    min-height: 521px;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: normal;
    background-color: rgb(255, 255, 255, 0.9);
}

.select-quizz {
    margin-bottom: 0;
    cursor: pointer;
    user-select: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.choice-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contains {
    height: 100%;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice {
    background: rgb(211, 211, 211, 0.5);
    padding: max(10px, 5%);
    border-radius: max(10px, 5%);
    margin-top: 10px;
    margin-bottom: 10px;
    transition: ease 0.5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: #000;
}

.facile:hover {
    border: 2px solid #000;
    transform: scale(1.05);
    transition: ease 0.5s;
    background: url('../images/niv-facile.png');
    background-size: 100%, auto;
    background-position: center;
    color: white;
}

.normal:hover {
    border: 2px solid #000;
    transform: scale(1.05);
    transition: ease 0.5s;
    background: url('../images/niv-normal.png');
    background-repeat: no-repeat;
    background-size: 78%, auto;
    background-position: bottom;
    color: white;
}

.difficile:hover {
    border: 2px solid #000;
    transform: scale(1.05);
    transition: ease 0.5s;
    background: url('../images/niv-difficile.png');
    background-size: 78.5%, auto;
    background-repeat: no-repeat;
    background-position: bottom;
    color: white;
}

.extreme:hover {
    border: 2px solid #000;
    transform: scale(1.05);
    transition: ease 0.5s;
    background: url('../images/niv-extreme.png');
    background-repeat: no-repeat;
    background-size: 78%, auto;
    background-position: bottom;
    color: white;
}

.random:hover {
    border: 2px solid #000;
    transform: scale(1.05);
    transition: ease 0.5s;
    background: url('../images/niv-random.png');
    background-repeat: no-repeat;
    background-size: 78%, auto;
    background-position: bottom;
    color: white;
}

.myQuizz:hover {
    border: 2px solid #000;
    transform: scale(1.05);
    transition: ease 0.5s;
    background: url('../images/niv-difficile.png');
    background-repeat: no-repeat;
    background-size: 78%, auto;
    background-position: bottom;
    color: white;
}

.allQuiz:hover {
    border: 2px solid #000;
    transform: scale(1.05);
    transition: ease 0.5s;
    background: url('../images/niv-difficile.png');
    transform: rotate();
    background-repeat: no-repeat;
    background-size: 78%, auto;
    background-position: bottom;
    color: white;
}