.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.background-filter {
    background: url('../images/background/ui-ux-design-0.png'), rgba(0, 0, 0, 0.4) 50% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.container {
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.circle-container {
    width: 10%;
    padding-bottom: 10%;
    position: relative;
    animation: flyingCircles 120s linear infinite; /* ajustez la durée en fonction de votre préférence */
}

@keyframes flyingCircles {
    0% {
        transform: translateY(0) translateX(0);
    }
    25% {
        transform: translateY(-100vh) translateX(10vw);
    }
    50% {
        transform: translateY(-200vh) translateX(-10vw);
    }
    75% {
        transform: translateY(-300vh) translateX(10vw);
    }
    100% {
        transform: translateY(-400vh) translateX(0);
    }
}

.circle {
    width: 5%;
    height: 5%;
    background-color: rgba(255, 182, 193, 0.5); /* Couleur pétales de roses japonais */
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 10px #9400d3, 0 0 20px #9400d3, 0 0 30px #9400d3; /* Effet de lueur néon violet foncé */
}

body.loaded .loading-overlay {
    opacity: 0;
    pointer-events: none;
}

body.loaded .background-filter,
body.loaded .content-quizz-selection {
    opacity: 1;
    transform: translateX(0);
}

.scrollable-content {
    overflow-y: auto!important;
    overflow-x: hidden!important;
    max-height: 900px;
}

.content-quizz-selection {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    font-family: 'Times New Roman', serif;
    border-radius: 10px;
    width: 50%;
    min-width: 750px;
    padding-right: 100%;
}

.quizz-selection {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 15px;
    width: 300px;
    background: rgba(222, 222, 222, 0.8);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.quizz-selection:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.quizz-selection-title {
    background-color: #c09ace;
    color: #fff;
    text-align: center;
    padding: 15px;
}

.quizz-selection-title h2 {
    margin: 0;
}

.quizz-selection-description {
    padding: 15px;
    text-align: center;
}

.quizz-selection-button {
    text-align: center;
    padding: 15px;
    margin-top: auto;
}

.quizz-selection-button a {
    display: inline-block;
    background-color: #342f47;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.quizz-selection-button a:hover {
    background-color: #d4abf5;
}

@media screen and (max-width: 790px) {

    .content-quizz-selection {
        width: 100%;
        min-width: 100px !important;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-height: 750px) {

    .scrollable-content {
        overflow-y: auto!important;
        height: calc(100% - 50px);
    }
}

/* CSS pour le bouton de retour */
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255,255,255);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    margin-left: 35px;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
    transform: rotate(-0.25turn);
}

.svgIcon path {
    fill: black;
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
}

.button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button::before {
    position: absolute;
    bottom: -20px;
    content: "Retour à la sélection";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}