body {
    background: url('../images/background/ui-ux-design-1.png'), rgba(0, 0, 0, 0.4) 50% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.pdf-contains {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
}

.pdf {
    height: 90%;
}

.quizz-info {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.static-info {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(164, 165, 220, 0.5);
    border: 1px solid #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.static-info h1 {
    font-size: 40px;
    margin-bottom: 0;
}

.quizz-questions {
    width: 25%;
    height: 100%;
}

.quizz-info p {
    min-width: 300px;
    width: 75%;
    text-align: center;
}

.desc-quizz {
    margin-bottom: 0px;
}

.hidden {
    height: 0 !important;
}

#togglePdfButton {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c583f1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#togglePdfButton:hover {
    background-color: #6b518c;
}

/* Quizz questions */

.questions-content {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
}

.quizz-questions {
    background-color: rgba(172, 141, 163, 0.8);
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 10px;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.quizz-questions form {
    overflow: auto;
}

.quizz-questions li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.question {
    margin-bottom: 20px !important;
    padding: 10px !important;
    background-color: rgba(133, 106, 175, 0.5);
    border: 1px solid #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
}

.quizz-questions form input[type="text"] {
    width: 99%;
    border: 1px solid #000;
}

.quizz-questions form input {
    margin-top: 10px;
}

input[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #827dc8;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #54587d;
}

@media screen and (max-width: 810px) {
    body {
        flex-direction: column;
        padding-left: 2%;
        padding-right: 2%;
        overflow-y: auto!important;
    }

    .pdf-contains:not(.hidden){
        height: 400px;
    }

    .pdf:not(.hidden){
        height: 100%;
        margin-bottom: 10px;
    }

    .quizz-info, .questions-content {
        width: 100%;
    }

    .quizz-questions, .static-info {
        width: 100%;
    }

    .quizz-questions{
        padding: 0!important;
    }

    .questions-content {
        margin-bottom: 10px;
    }
}

@media screen and (max-height: 545px) {
    .pdf-contains:not(.hidden) {
        min-height: 283px;
    }
}

@media screen and (max-height: 230px) {
    body {
        transform: scale(0.8);
    }
}

@media screen and (min-height: 1500px) and (min-width: 1500px) {

    .static-info{
        padding-bottom: 50px;
    }

    .static-info h1{
        font-size: 100px;
    }

    .static-info p{
        font-size: 64px;
    }

    .static-info #togglePdfButton{
        font-size: 64px;
    }

    .quizz-questions{
        height: min-content;
        margin: 10%;
        padding-bottom: 50px;
        padding-left: 50px!important;
        padding-right: 50px!important;
        overflow: auto;
    }

    .quizz-questions h1{
        font-size: 100px;
    }

    .quizz-questions li{
        font-size: 64px;
    }

    .quizz-questions input{
        margin: 20px;
        margin-bottom: 0;
        font-size: 64px;
    }

    .quizz-questions input:not(input[type='submit']) {
        transform: scale(2);
    }

    .quizz-questions input[type='text']{
        transform: scale(1) !important;
        width: 98% !important;
    }

    .question {
        margin-bottom: 50px !important;
        padding-bottom: 25px !important;
        text-align: left;
    }

    form {
        overflow-y: auto !important;
    }    
}

.container {
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.circle-container {
    width: 10%;
    padding-bottom: 10%;
    position: relative;
    animation: flyingCircles 120s linear infinite; /* ajustez la durée en fonction de votre préférence */
}

@keyframes flyingCircles {
    0% {
        transform: translateY(0) translateX(0);
    }
    25% {
        transform: translateY(-100vh) translateX(10vw);
    }
    50% {
        transform: translateY(-200vh) translateX(-10vw);
    }
    75% {
        transform: translateY(-300vh) translateX(10vw);
    }
    100% {
        transform: translateY(-400vh) translateX(0);
    }
}

.circle {
    width: 5%;
    height: 5%;
    background-color: rgba(255, 182, 193, 0.5); /* Couleur pétales de roses japonais */
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 10px #9400d3, 0 0 20px #9400d3, 0 0 30px #9400d3; /* Effet de lueur néon violet foncé */
}

/* CSS pour le bouton de retour */
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255,255,255);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    margin-left: 35px;
}

.retour {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(255,255,255);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    margin-top: 20px;
    margin-left: 35px;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
    transform: rotate(-0.25turn);
}

.svgIcon path {
    fill: black;
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: darkred;
    align-items: center;
}

.button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button::before {
    position: absolute;
    bottom: -20px;
    content: "Abandonner le quizz";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.retour:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: darkred;
    align-items: center;
}

.retour:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.retour:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.retour::before {
    position: absolute;
    bottom: -20px;
    content: "Retour à la sélection";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
}

.retour:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* CSS Page Réponse */

.containerBoxReponses{
    justify-content: center;
    margin-top: 5rem;
}

.questionCorrect{
    background-color: rgba(255, 182, 193, 0.5);
    box-shadow: #54587d;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 558px;
    padding-bottom: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstBox{
    justify-content: space-between;
}

.imageMinamiContente{
    width: 200px;
    height: auto;
}

.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

/* .meilleurScore{
    float: right;
} */



